@model IEnumerable<SafaFilm.Models.Contactus>

@{
    ViewBag.Title = "ارتباط با ما";
}


<h2>@ViewBag.Title</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("جدید", "Create")
    </p>
}
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4">
        <a href="~/Blogs/Contactus/@item.id">
            <h1>
                @item.Names
            </h1>
        </a>
        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.id }) |
                @Html.ActionLink("نمایش", "Details", new { id = item.id }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.id })
            </div>
        }
    </div>
    }
</div>
